# ============================================================
#  PORTFOLIO — Template de configuration
#  Copie ce fichier en .env et remplis tes vraies valeurs
#  Commande : copy .env.example .env
# ============================================================


# ------------------------------------------------------------
#  DJANGO
# ------------------------------------------------------------
SECRET_KEY=remplace-par-une-cle-secrete-longue-et-aleatoire
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1


# ------------------------------------------------------------
#  BASE DE DONNÉES PostgreSQL
# ------------------------------------------------------------
DB_ENGINE=django.db.backends.postgresql
DB_NAME=portfolio_db
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432


# ------------------------------------------------------------
#  MÉDIAS & FICHIERS STATIQUES
# ------------------------------------------------------------
MEDIA_URL=/media/
STATIC_URL=/static/


# ------------------------------------------------------------
#  EMAIL
# ------------------------------------------------------------
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=


# ------------------------------------------------------------
#  CLOUDINARY
# ------------------------------------------------------------
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
