Django==6.0.5
Pillow==12.2.0
psycopg2-binary==2.9.12
python-decouple==3.8
dj-database-url==2.3.0
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2026.2
gunicorn==22.0.0
whitenoise==6.8.2
cloudinary==1.42.1
django-cloudinary-storage==0.3.0
requests==2.32.3
